/*definir a cor fundo do site para uma roxa misturando com rosa*/
body {
    background: linear-gradient(145deg, #df89bf, #9b467c);
    border-radius: 8px;
    padding: 40px;
    font-family: 'Fira Code', monospace;
    position: relative;
    margin: 20px 0;
}

.codeblock-npt {
    background: linear-gradient(145deg, #2b3b4e, #1a2633);
    border-radius: 8px;
    padding: 15px;
    font-family: 'Fira Code', monospace;
    position: relative;
    box-shadow: 0 4px 15px rgba(0,0,0,0.3);
    margin: 20px 0;
    width: fit-content;
}

.npt-header {
    color: #7f8fa4;
    font-size: 0.9em;
    margin-bottom: 15px;
    letter-spacing: 1px;
}

.code-content {
    color: #c0c5ce;
    white-space: pre-wrap;
    tab-size: 4;
}

/* Regras de sintaxe */
.pre-script    { color: #4a5564; } /*tudo antes da palavra chave '#script'*/
.comment       { color: #2d7961; } /*comentário com --*/
.literal       { color: #98c379; } /*string ou char, no formato s'Hello World', c'A', elas ainda marcam em linhas diferentes*/
.number        { color: #6cb6ff; } /*os números*/
.operator      { color: #5e81ac; } /*entre + - * / ? ! ; , :: : # && || > < >= <= == ~= -> */
.property      { color: #d19a66; } /*a próxima palavra depois de um :: ex: 500::toStr, 990 :: revert*/
.keyword       { color: #c678dd; } /*palavras que começam com &, ex: &if, &do{, &}, &while*/
.dot           { color: #3b4048; } /*o caractere ., que é final de linha*/
.identifier    { color: #abb2bf; } /*valor que começa com letra ou _*/
.bracket       { color: #e5c07b; } /*brackets, marca (), [] ou {}, desde que estejam na mesma linha*/
.type          { color: #e06c75; } /*Int, Str, Float, Error, Nil, List, Dict, User, Char*/
.variable      { color: #e5c07b; } /*no formato ${variable}*/
.placeholder   { color: #e5c07b; } /*no formato &{placeholder}*/
.remaining     { color: #d19a66; } /*caracteres que não coincidirem com nenhuma regra highlight*/
.keyword2      { color: #cd7c8d};

.error {
    background: #ff000015;
    border-bottom: 2px solid #ff0000aa;
    position: relative;
}
.error:hover::after {
    content: attr(title);
    position: absolute;
    background: #ff0000dd;
    color: white;
    padding: 4px;
    border-radius: 4px;
    top: -25px;
    left: 0;
    white-space: nowrap;
}